<!doctype html>
<html>
<head>
	<title>Drink beers with us!</title>
	{{!-- for google fonts --}}
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Poppins&display=swap" rel="stylesheet">
	{{!-- for bootstrap --}}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	{{!-- for the image in the navbar --}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body>
	{{!-- Menu bar --}}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		{{!-- Button that holds a bicycle icon --}}
		<a class="navbar-brand">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cup" viewBox="0 0 16 16">
  				<path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"/>
			</svg>
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarText">
			{{!-- the many different links for the menu bar --}}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/beers">Beers</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categories">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/beer_categories">Beer Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/users">Users</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ratings">Ratings</a>
				</li>
			</ul>
		</div>

	</nav>

	{{!-- container for the body so it's more centered --}}
	<div class="container">
		{{{body}}}
	</div>

	{{!-- a line on the bottom saying it was made by me, and it stops showing up after the window size is smaller than medium --}}
	<footer class="footer mt-auto py-3 text-muted">
		
		<div class="d-none d-md-block fixed-bottom text-center">
			This page has been created by Freddy Hoang for CS290's HW6 assignment. Designs were made by BootStrap.
			Please contact Freddy at hoangf@oregonstate.edu with any bugs for this site.
		</div>

	</footer>

	
	{{!-- jquery JS --}}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    {{!-- popper JS --}}
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    {{!-- bootstrap JS --}}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	{{!--  --}}
	<script src="/static.js"></script>

</body>
</html>