<div class="container">

  <div class="card text-center">
    {{!-- card header, contains all the forms to create Sets --}}
    <div class="card-header">
      <h1>Beer Information</h1>

      <hr class='my-4'>
      There's a lot of beers in Portland, we can't keep track of them all.
      Want to add in a beer to help us track it?
      <hr class='my-4'>

      {{!-- alert message for when the minimum isn't entered --}}
      <div id="alert-time" role="alert">
      </div>

      {{!-- input forms --}}
      <div class="form-row text-center">
        <div class= "form-group col-md-2"></div>
        <div class="form-group col-md-2">
          <label>Beer:</label>
          <input type="text" class="form-control" name="beer_name" id="beer_name" placeholder="Lip Puckerer" required>
        </div>

        <div class="form-group col-md-1">
          <label>Brewery:</label>
          <input type="text" class="form-control" name="brewery" id="brewery" placeholder="Pfriem" required>
        </div>

        <div class="form-group col-md-2">
          <label>ABV:</label>
          <input type="number" min="0" step="0.01" class="form-control" name="abv" id="abv" placeholder="15.22%">
        </div>

        <div class="form-group col-md-2">
          <label>IBU:</label>
          <input type="number" min="0" class="form-control" name="ibu" id="ibu" placeholder="7">
        </div>

        <div class="form-group col-md-1">
          <input type="submit" name="Add" id='Add' value="Add Beer">
        </div>

  	  </div>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Brewery
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='breweryDrop'>
            </div>
          </div>
        </div>
        
        <div class="col-md-4"></div>
      </div>
      <br>

      {{!-- contains the tables top rows --}}
      <table class="table table-sm table-hover">
        
        <thead>
          <tr>
            <th scope="col">Beer</th>
            <th scope="col">Brewery</th>
            <th scope="col">ABV</th>
            <th scope="col">IBU</th>
            <th scope="col">Average Rating</th>
            <th></th>
          </tr>
        </thead>

        <tbody id="table-body">
        </tbody>

      </table>

    </div>

  </div>

</div>

<script src="/beers.js"></script>