

<div class="container">

  <div class="card text-center">
    {{!-- card header, contains all the forms to create Sets --}}
    <div class="card-header">
      <h1>Categories for Beer</h1>

      <hr class='my-4'>
        Is there a category we missed? How about you add in a category for beer?
      <hr class='my-4'>
      
      {{!-- input forms --}}
      <div class="form-row text-center">
        <div class="col-md-4"></div>
        <div class="form-group col-md-2">
          <input type="text" class="form-control" name="category" id="category" placeholder="Golden Ale">
        </div>

        <div class="form-group col-md-1">
          <input type="submit" name="Add" id='Add'>
        </div>

  	  </div>
    </div>

    <div class="card-body">
      {{!-- contains the tables top rows --}}
      <table class="table table-sm table-hover">
        
        <thead>
          <tr>
            <th scope="col">Categories</th>
          </tr>
        </thead>

        <tbody id="table-body">
            <tr>
              <td scope="col">IPA</td>
            </tr>
            <tr>
              <td scope="col">Sour</td>
            </tr>
            <tr>
              <td scope="col">Kolsch</td>
            </tr>
        </tbody>

      </table>

    </div>

    {{!-- a bunch of forms giving additional powers --}}
    <div class="card-footer text-muted">
      <input type="submit" class="btn btn-danger" id="ClearAll" name="Clear All" value="Clear All">
    </div>

  </div>

</div>