

<div class="container">

  <div class="card text-center">
    {{!-- card header, contains all the forms to create Sets --}}
    <div class="card-header">
      <h1>Beer Ratings</h1>

      <hr class='my-4'>
        Delicious? Awful? Give it a rating!
      <hr class='my-4'>
      
      {{!-- input forms --}}
      <div class="form-row text-center">
        <div class="col"></div>
        <div class="form-outline col">
          <input type="search" id="beer-search" class="form-control" placeholder="Search for a beer..." aria-label="Search" />
        </div>
        <div class="col"></div>
      </div>
      <br>
      <div class="form-row text-center">
        <div class="col"></div>
        <div class="form-group col">
          <p>Results from the search will populate here.</p>
        </div>
        <div class="col"></div>
  	  </div>
    </div>

    <div class="card-body">
      {{!-- contains the tables top rows --}}
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th scope="col">Beer</th>
            <th scope="col">Rating</th>
          </tr>
        </thead>

        <tbody id="table-body">
          <tr>
            <td scope="col">Bone RPM</td>
            <td scope="col">
              <div class="rating"> 
                <input type="radio" name="rating1" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating1" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating1" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating1" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating1" value="1" id="1"><label for="1">☆</label>
              </div>
            </td>                        
          </tr>
          <tr>
            <td scope="col">Summer Sweet</td>
            <td scope="col">
              <div class="rating"> 
                <input type="radio" name="rating2" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating2" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating2" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating2" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating2" value="1" id="1"><label for="1">☆</label>
              </div>
            </td>                        
          </tr>
          <tr>
            <td scope="col">Little Beast</td>
            <td scope="col">
              <div class="rating"> 
                <input type="radio" name="rating3" value="5" id="5"><label for="5">☆</label>
                <input type="radio" name="rating3" value="4" id="4"><label for="4">☆</label>
                <input type="radio" name="rating3" value="3" id="3"><label for="3">☆</label>
                <input type="radio" name="rating3" value="2" id="2"><label for="2">☆</label>
                <input type="radio" name="rating3" value="1" id="1"><label for="1">☆</label>
              </div>
            </td>                        
          </tr>
        </tbody>
      </table>
    </div>

    {{!-- a bunch of forms giving additional powers --}}
    <div class="card-footer text-muted">
      <input type="submit" class="btn btn-danger" id="ClearAll" name="Clear All" value="Clear All">
    </div>

  </div>

</div>