h1{
    text-align: center;
    font-weight: 900;
    color: tomato;
    padding: 1em;
}
h3{
    text-align: center;
}

h5{
    font-weight: bolder;
}

thead{
    background-color: #f1a746;
}

a:hover{
    text-decoration: none;
}

#scroll-box-title{
    text-align: center;
}

body {
    background-color:rgb(244, 253, 255);
    font-family: 'Noto Sans JP', sans-serif;
}

li {
    display: inline;
}

.carousel-inner img {
    width: 500px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}

#asterisk {
    text-align: top;
    font-size: 10px;
}

#downloadbutton {
    text-align: center;
}

#scroll {
    width: 30vw;
    height: 30vh;
    font-size: 1vw;
    padding: 0;
    margin: 0;
    overflow: auto;
}

.tight {
    padding: .25rem;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 1em;
    color: #FFD600;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

#card1 {
    background-color: #f1a746;
    color: white;
}

#card2 {
    background-color: #c06121;
    color: white;
}

#card3 {
    background-color: #c06121;
    color: white;
}

#card4 {
    background-color: #f1a746;
    color: white;
}

#card5 {
    background-color: #f1a746;
    color: white;
}